*{
	margin: 0px;
	padding: 0px;
}

.slider{
	width: 600px;
	height: 600px;
	overflow: hidden;
	border: 22px groove #f27e6e;
}

.left{
	position: relative;
	top: 15px;
	left: 5%;
}

.right{
	position: absolute;
	top: 20px;
	right: 5%;
}


.navigation{
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.bar{
	height:8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #ddd;
	opacity: 0.7;
	border-radius: 10px;
	transition: all 0.4s ease;
}

.bar:hover {
	opacity: 1;
	transform: scale(1.1);
}

input[name="r"]{
	position: relative;
	visibility: visible;
}

.owl-carousel{
	width: 600px;
	height: 600px;
	border: 22px outset #6b82b8;
}


.slide {
	width:600px;
	transition: all 0.6s ease;
}


.textfield{
	width:560px;
	height:560px;
	border: 14px dotted #6b82b8;
	padding: 20px;
	text-align: justify;
}


.textfield_content{
	position: absolute;
	font-family: "Book Antiqua";
	font-size: 28px;
	padding-right: 20px;
	
}

.social_wrap{
}
.social{
	display: inline-block;
	transform: scale(0.8) translate(300px, 0%);
	transition: 0.2s;
	opacity: 0.7;
}

.social:hover{
	opacity: 1;
}

.empty{
	bottom: 1000px;
}

.t1{
	visibility: visible;
}

.t2{
	visibility: hidden;
}
