*{
	margin: 0px;
	padding: 0px;
}

.slider{
	width: 600px;
	height: 600px;
	overflow: hidden;
	border: 22px groove #f27e6e;
}

.left{
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0%, -50%);
}

.navigation{
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.bar{
	height:8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #ddd;
	opacity: 0.7;
	border-radius: 10px;
	transition: all 0.4s ease;
}

.bar:hover {
	opacity: 1;
	transform: scale(1.1);
}

input[name="r"]{
	position: relative;
	visibility: visible;
}

.owl-carousel{
	width: 600px;
	height: 600px;
	/*overflow: hidden;
	*/border: 22px groove #f27e6e;
}


.slide {
	width:600px;
	transition: all 0.6s ease;
}


#s1 {
	margin-left:0;
}

#r1:checked ~ #s1{
	mergin-left: 0;
}

#r2:checked ~ #s1{
	mergin-left: -100%;
}

#r3:checked ~ #s1{
	mergin-left: -30%;
}

#r4:checked ~ #s1{
	mergin-left: -45%;
}

#r5:checked ~ #s1{
	mergin-left: -60%;
}

#r6:checked ~ #s1{
	mergin-left: -75%;
}

#r7:checked ~ #s1{
	mergin-left: -90%;
}


.textfield{
	width:600px;
	height:600px;
	border: 14px dotted #fb7260;
	padding: 20px;
	text-align: justify;
}

.right{
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0%, -50%);
}

.textfield_content{
	position: absolute;
	font-family: "Book Antiqua";
	font-size: 28px;
	
}

.t1{
	visibility: visible;
}

.t2{
	visibility: hidden;
}


input[id='r1']:checked ~ .t1{
	visibility: visible;
}

input[id='r2']:checked ~ .t2{
	visibility: visible;
}